urllib3
imutils
numpy
opencv_python
Pillow
pypiwin32 ; platform_system=="Linux"
winshell ; platform_system=="Linux"
ttkthemes
requests
beautifulsoup4
whatsmyip
pynput
keyboard
playsound==1.2.2
event-scheduler
mouse
pyautogui
mss
