urllib3
imutils
numpy
opencv_python
Pillow
pypiwin32 ; platform_system=="Windows"
winshell ; platform_system=="Windows"
ttkthemes
requests
beautifulsoup4
whatsmyip
pynput
keyboard
playsound
event-scheduler
mouse
pyautogui
mss